catvsdog/test1/
catvsdog/train/
catvsdog/small_dataset/
catvsdog/saved_model/
Alexnet/flower_photos/flower_photos/
Alexnet/flower_data/
Alexnet/Alexnet_model.pth
Alexnet/save_weights/myAlex100%.weights.h5
GoogleLeNet/googleNet.pth
Resnet/resnet34-pre.pth
Resnet/resNet34.pth
faster-rcnn/VOCdevkit/
Bubbliiiing-yolov3/VOCdevkit/
Bubbliiiing-yolov3/map_out/
*.pyc
*.pth
*.png
Bubbliiiing-yolov3/2007_train.txt
Bubbliiiing-yolov3/2007_val.txt
Bubbliiiing-yolov3/logs/
yolov4-pytorch/2007_val.txt
yolov4-pytorch/2007_train.txt
YOLOv8-main/dataset/
*.jpg
*.ckpt
*.jpeg
Hands-on-learning-computer-vision/caltech-101/
Hands-on-learning-computer-vision/VOCdevkit/
Hands-on-learning-computer-vision/ImageNet/
Hands-on-learning-computer-vision/15.1.py
Hands-on-learning-computer-vision/UCF101/
Hands-on-learning-computer-vision/UCF-101/
Hands-on-learning-computer-vision/ucfTrainTestlist/
Hands-on-learning-computer-vision/c3d.pickle
Hands-on-learning-computer-vision/UCF101.tar.xz
Hands-on-learning-computer-vision/UCF101.tar.xz:Zone.Identifier
Hands-on-learning-computer-vision/c3d-pytorch
AI-Guide-and-Demos-zh_CN/Breeze-7B-Instruct-v0_1/
AI-Guide-and-Demos-zh_CN/checkpoint-7/
AI-Guide-and-Demos-zh_CN/opus-mt-zh-en/
AI-Guide-and-Demos-zh_CN/output-信号与人生.txt
AI-Guide-and-Demos-zh_CN/output-信号与人生.srt
AI-Guide-and-Demos-zh_CN/test-00000-of-00001.parquet
AI-Guide-and-Demos-zh_CN/medium.pt
AI-Guide-and-Demos-zh_CN/audio.mp3
AI-Guide-and-Demos-zh_CN/Mistral-7B-Instruct-v0.3-Q4_K_M.gguf
AI-Guide-and-Demos-zh_CN/Mistral-7B-Instruct-v0.3-Q4_K_M.gguf:Zone.Identifier
AI-Guide-and-Demos-zh_CN/faiss_index/index.pkl
AI-Guide-and-Demos-zh_CN/faiss_index/index.faiss
AI-Guide-and-Demos-zh_CN/pip_conf.py
AI-Guide-and-Demos-zh_CN/【源代码】深度学习入门：基于Python的理论与实现_20240716/data/
d2l/augument/data/cifar-10-batches-py/
d2l/fine-tuning/data/hotdog.zip
d2l/augument/main.ipynb
d2l/augument/data/cifar-10-python.tar.gz
d2l/data/kaggle_cifar10_tiny.zip
._.DS_Store
.DS_Store
d2l/data/banana-detection.zip
d2l/data/kaggle_dog_tiny.zip
d2l/data/
neurips-open-polymer-prediction-2025/
Atri/merged_model/
Atri/output/
Atri/qwen2.5-3b/
Atri/ATRI-my  dear moments.docx
2025SMP第十三届全国社会媒体处理大会-大模型报告生成挑战赛/
